.se-api-card {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 20px;
  border: 1px solid var(--main-colors-blue, #123af8);
  background: var(--main-colors-grey-3, #f6f8fc);
  margin-bottom: 24px;

  &__header {
    display: flex;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    margin-bottom: 8px;
  }

  h2.se-api-card__title {
    color: var(--main-colors-black, #101423);
    font-family: "TT Fors", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 128%;
    letter-spacing: -0.24px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }

  &__badge {
    display: flex;
    padding: 8px 16px;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: var(--accent-colors-pale-cyan, #d8f7ff);
    color: var(--main-colors-black-2, #252e3d);
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;

    code {
      color: var(--main-colors-black-2, #252e3d);
      font-family: "TT Fors", sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
    }
    
    strong {
      font-family: "TT Fors", sans-serif;
      font-size: 14px;
      font-weight: 500;
    }
  }

  p.se-api-card__subtitle {
    color: var(--main-colors-black-2, #252e3d);
    font-family: "TT Fors", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 32px;
    padding-bottom: 0;
  }

  &__rows {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 32px;
    padding-bottom: 0;
  }

  &__row {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__row-label {
    color: var(--main-colors-black-2, #252e3d);
    font-family: "TT Fors", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
  }

  &__row-value {
    code {
      display: flex;
      padding: 8px 16px;
      align-items: center;
      gap: 8px;
      border-radius: 8px;
      background: var(--main-colors-grey-2, #ecf1f9);
      color: var(--main-colors-black-2, #252e3d);
      font-family: "TT Fors", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 140%;
    }
  }

  &__note {
    color: var(--main-colors-dark-grey, #717e95);
    font-family: "TT Fors", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }

  &__cta-wrap {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 24px;
    align-self: stretch;
    flex-wrap: wrap;
  }

  p.se-api-card__help {
    color: var(--main-colors-dark-grey, #717e95);
    font-family: "TT Fors", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 0;
    padding-bottom: 0;
    flex: 1;
  }

  p.se-api-card__help a {
    color: var(--main-colors-blue, #123af8);
    font-family: "TT Fors", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }

  .custom-btn.se-btn_main.se-btn_constant.se-btn__icon-right.button-group-btn.se-btn.se-btn_large {
    font-family: "TT Fors", sans-serif;
    font-weight: 500;
  }
}

@media screen and (max-width: 1535px) {
  .se-api-card {
    padding: 24px;

    &__header {
      gap: 12px;
    }

    h2.se-api-card__title {
      font-size: 20px;
    }

    &__badge {
      font-size: 12px;
      padding: 6px 12px;

      code {
        font-size: 12px;
      }

      strong {
        font-size: 12px;
      }
    }

    p.se-api-card__subtitle {
      font-size: 14px;
      margin-bottom: 24px;
    }

    &__rows {
      margin-bottom: 24px;
    }

    &__row-label {
      font-size: 14px;
    }

    &__row-value {
      code {
        font-size: 14px;
        padding: 6px 12px;
      }
    }

    &__note {
      font-size: 14px;
    }

    p.se-api-card__help {
      font-size: 12px;
    }

    p.se-api-card__help a {
      font-size: 12px;
    }

    &__cta-wrap {
      gap: 16px;
    }
  }
}

@media screen and (max-width: 767px) {
  .se-api-card {
    padding: 16px;

    &__header {
      gap: 8px;
      flex-direction: column;
      align-items: start;
    }

    h2.se-api-card__title {
      font-size: 20px;
    }

    &__badge {
      font-size: 12px;

      code, strong {
        font-size: 12px;
      }
    }

    &__rows {
      margin-bottom: 0;
    }

    &__row {
      flex-direction: column;
      align-items: start;
      margin-bottom: 16px;
    }

    p.se-api-card__subtitle {
      margin-bottom: 16px;
    }
  }
}
